.header-container {
  background-color: white;
  border-bottom-left-radius: 10px;
  display: flex;
  height: 3rem;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100vw;
}

.header-container > ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;
  list-style: none;
  width: 80%;
}

.logotype-wallet {
  margin-left: -3rem;
  width: 10rem;
}
